<html><head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="angular.min.js"></script>
<script src="app.js"></script>
<style>
span.cell { cursor:pointer; display:inline-block; border: 1px solid black; padding: 2px; margin-left: 5px;}
</style>
</head><body ng-app="test">
<div id="loading">{{loading}}</div>
<div ng-controller="testCtl">

<button ng-click="start()">start</button>
<div ng-repeat="row in items track by $index">
	<span class="cell" ng-click="click(0,$index)">{{row.name}} = <i>{{row.c[0]}}</i></span>
	<span class="cell" ng-click="click(1,$index)">{{row.text}} = <i>{{row.c[1]}}</i></span>
	<span class="cell" ng-click="click(2,$index)">a = <i>{{row.c[2]}}</i></span>
	<span class="cell" ng-click="click(3,$index)">b = <i>{{row.c[3]}}</i></span>
	<span class="cell" ng-click="click(4,$index)">c = <i>{{row.c[4]}}</i></span>
	<span class="cell" ng-click="click(5,$index)">d = <i>{{row.c[5]}}</i></span>
	<span class="cell" ng-click="click(6,$index)">e = <i>{{row.c[6]}}</i></span>
	<span class="cell" ng-click="click(7,$index)">f = <i>{{row.c[7]}}</i></span>
	<span class="cell" ng-click="click(8,$index)">g = <i>{{row.c[8]}}</i></span>
	<span class="cell" ng-click="click(9,$index)">h = <i>{{row.c[9]}}</i></span>
	<span class="cell" ng-click="click(10,$index)">i = <i>{{row.c[10]}}</i></span>
	<span class="cell" ng-click="click(11,$index)">j = <i>{{row.c[11]}}</i></span>
	<span class="cell" ng-click="click(12,$index)">k = <i>{{row.c[12]}}</i></span>
</div>

</div>
</body></html>