<span class="cell" ng-click="click(0,$index)">{{row.name}} = <i>{{row.c[0]}}</i></span>
<span class="cell" ng-click="click(1,$index)">{{row.text}} = <i>{{row.c[1]}}</i></span>
<span class="cell" ng-click="click(2,$index)">a = <i>{{row.c[2]}}</i></span>
<span class="cell" ng-click="click(3,$index)">b = <i>{{row.c[3]}}</i></span>
<span class="cell" ng-click="click(4,$index)">c = <i>{{row.c[4]}}</i></span>
<span class="cell" ng-click="click(5,$index)">d = <i>{{row.c[5]}}</i></span>
<span class="cell" ng-click="click(6,$index)">e = <i>{{row.c[6]}}</i></span>
<span class="cell" ng-click="click(7,$index)">f = <i>{{row.c[7]}}</i></span>
<span class="cell" ng-click="click(8,$index)">g = <i>{{row.c[8]}}</i></span>
<span class="cell" ng-click="click(9,$index)">h = <i>{{row.c[9]}}</i></span>
<span class="cell" ng-click="click(10,$index)">i = <i>{{row.c[10]}}</i></span>
<span class="cell" ng-click="click(11,$index)">j = <i>{{row.c[11]}}</i></span>
<span class="cell" ng-click="click(12,$index)">k = <i>{{row.c[12]}}</i></span>